.nav-list li {
  z-index: 10;
}

.nav-list li:before,
.nav-list li:after,
.nav-list li a:before,
.nav-list li a:after {
  /* All pseudo elements are 
       abs. positioned and on bottom */
  /* content: ""; */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
     tabs need pseudo elements at all */
.nav-list li:last-child:after,
.nav-list li:last-child a:after,
.nav-list li:first-child:before,
.nav-list li:first-child a:before,
.nav-list .active:after,
.nav-list .active:before,
.nav-list .active a:after,
.nav-list .active a:before {
}
.nav-list .active:before,
.nav-list .active:after {
  background: white;

  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.nav-list li:before,
.nav-list li:after {
  background: #ddc385;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.nav-list li:before {
  top: -5px;
  left: -5px;
}
.nav-list li:after {
  top: -5px;
  right: -5px;
}
/* Circles */
.nav-list li a:after,
.nav-list li a:before {
  width: 20px;
  height: 20px;

  background: transparent;

  z-index: 2;
}

/* .nav-list {
    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
  } */

.nav-list:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 24px;
  bottom: 0px;
  left: 24px;
  z-index: 1;
  border-bottom: none;
  /* border-radius: 100em 100em 2em 0; */
  background: white;
  transform: scale(1, 1) perspective(1em) rotateX(178deg);
}
